/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nf-core/metatdenovo Nextflow base config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    A 'blank slate' config file, appropriate for general use on most high performance
    compute environments. Assumes that all software is installed and available on
    the PATH. Runs in `local` mode - all jobs will be run on the logged in environment.
----------------------------------------------------------------------------------------
*/

process {

    // fall back resources
    cpus   = { check_max( 2    * task.attempt, 'cpus'   ) }
    memory = { check_max( 8.GB * task.attempt, 'memory' ) }
    time   = { check_max( 24.h  * task.attempt, 'time'   ) }


    errorStrategy = { task.exitStatus in [143,137,104,134,139,127] ? 'retry' : 'finish' }
    maxRetries    = 5
    maxErrors     = '-1'

    // Process-specific resource requirements
    // calibrated using nf-tower optimizations
    withName: 'NFCORE_METATDENOVO:METATDENOVO:BBMAP_DEDUPE' {
        cpus = 8
        memory = 12.GB
    }
    withName: 'NFCORE_METATDENOVO:METATDENOVO:BBMAP_MERGE' {
        cpus = 16
        memory = 12.GB
    }
    withName: 'NFCORE_METATDENOVO:METATDENOVO:BOWTIE2_ALIGN' {
        cpus = params.sandbox ? 16 : 32
        memory = 64.GB
    }
    withName: 'NFCORE_METATDENOVO:METATDENOVO:CAT_FASTQ' {
        cpus = 2
        memory = 4.GB
    }
    withName: 'NFCORE_METATDENOVO:METATDENOVO:CDHIT_CDHIT' {
        cpus = 8
        memory = 20.GB
    }
    withName: 'NFCORE_METATDENOVO:METATDENOVO:COUNTS_PLOT' {
        cpus = 6
        memory = 1.GB
    }
    withName: 'NFCORE_METATDENOVO:METATDENOVO:CUSTOM_DUMPCOUNTS' {
        cpus = 1
        memory = 1.GB
    }
    withName: 'NFCORE_METATDENOVO:METATDENOVO:CUSTOM_DUMPSOFTWAREVERSIONS' {
        cpus = 1
        memory = 1.GB
    }
    withName: 'NFCORE_METATDENOVO:METATDENOVO:EGGNOG_MAPPER' {
        cpus = params.sandbox ? 16 : 64
        memory = params.sandbox ? 96.GB : 196.GB
    }
    withName: 'NFCORE_METATDENOVO:METATDENOVO:HMMER_HMMSCAN' {
        cpus = 8
        memory = 16.GB
    }
    withName: 'NFCORE_METATDENOVO:METATDENOVO:INPUT_CHECK:SAMPLESHEET_CHECK' {
        cpus = 2
        memory = 4.GB
    }
    withName: 'NFCORE_METATDENOVO:METATDENOVO:KRKN_ARCH' {
        cpus = 8
        memory = 32.GB
    }
    withName: 'NFCORE_METATDENOVO:METATDENOVO:KRKN_NO_ARCH' {
        time = 48.h
        cpus = 12
        memory = 32.GB
    }
    withName: 'NFCORE_METATDENOVO:METATDENOVO:MULTIQC' {
        cpus = 3
        memory = 5.GB
    }
    withName: 'NFCORE_METATDENOVO:METATDENOVO:PRE_TRIM_FQC' {
        cpus = 2
        memory = 4.GB
    }
    withName: 'NFCORE_METATDENOVO:METATDENOVO:POST_MERGE_FQC' {
        cpus = 4
        memory = 16.GB
    }
    withName: 'NFCORE_METATDENOVO:METATDENOVO:SALMON_INDEX' {
        cpus = 4
        memory = 8.GB
    }
    withName: 'NFCORE_METATDENOVO:METATDENOVO:SALMON_QUANT' {
        cpus = 12
        memory = 20.GB
    }
    withName: 'NFCORE_METATDENOVO:METATDENOVO:SORTMERNA' {
        cpus = 12
        memory = 32.GB
    }
    withName: 'NFCORE_METATDENOVO:METATDENOVO:SEQKIT_SPLIT2' {
        cpus = 16
        memory = 64.GB
    }
    withName: 'NFCORE_METATDENOVO:METATDENOVO:TRANSDECODER_LONGORF' {
        cpus = 8
        memory = 12.GB
    }
    withName: 'NFCORE_METATDENOVO:METATDENOVO:TRANSDECODER_PREDICT' {
        cpus = 8
        memory = 12.GB
    }
    withName: 'NFCORE_METATDENOVO:METATDENOVO:TRIMMOMATIC' {
        cpus = 8
        memory = 32.GB
    }
    withName: 'NFCORE_METATDENOVO:METATDENOVO:TRINITY' {
        time = 7.d
        cpus = params.sandbox ? 16 : 128
        memory = params.sandbox ? 120.GB : 512.GB
    }
    withName: 'NFCORE_METATDENOVO:METATDENOVO:MEGAHIT' {
        cpus = 16
        memory = 64.GB
    }
    withName: 'NFCORE_METATDENOVO:METATDENOVO:TRANS_ABYSS' {
        cpus = 16
        memory = 64.GB
    }
    withName: 'NFCORE_METATDENOVO:METATDENOVO:SOAP_DENOVO_TRANS' {
        cpus = 16
        memory = 64.GB
    }

    // Phase II tasks:
    withName: 'ARKEA_SUPER_META_T:POST_ASSEMBLE_CLUSTER:EGGNOG_MAPPER' {
        cpus = params.sandbox ? 16 : 128
        memory = params.sandbox ? 120.GB : 256.GB
    }
    withLabel:error_ignore {
        errorStrategy = 'ignore'
    }
    withLabel:error_retry {
        errorStrategy = 'retry'
        maxRetries    = 2
    }
    withName:CUSTOM_DUMPSOFTWAREVERSIONS {
        cache = false
    }
}
