/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nf-core/metatdenovo Nextflow base config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    A 'blank slate' config file, appropriate for general use on most high performance
    compute environments. Assumes that all software is installed and available on
    the PATH. Runs in `local` mode - all jobs will be run on the logged in environment.
----------------------------------------------------------------------------------------
*/

process {

    // fall back resources
    cpus   = { check_max( 1    * task.attempt, 'cpus'   ) }
    memory = { check_max( 8.GB * task.attempt, 'memory' ) }
    time   = { check_max( 24.h  * task.attempt, 'time'   ) }

    def maxmem = params.sandbox ? "124.GB" : "384.GB"
    def maxcpu = params.sandbox ? 16 : 64


    errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish' }
    maxRetries    = 3
    maxErrors     = '-1'

    // Process-specific resource requirements
    // calibrated using nf-tower optimizations
    withName: 'NFCORE_METATDENOVO:METATDENOVO:BBMAP_DEDUPE' {
        cpus = 8
        memory = 60.GB
    }
    withName: 'NFCORE_METATDENOVO:METATDENOVO:BBMAP_REFORMAT' {
        cpus = 8
        memory = 60.GB
    }
    withName: 'NFCORE_METATDENOVO:METATDENOVO:BBMAP_REPAIR' {
        cpus = 8
        memory = 60.GB
    }
    withName: 'NFCORE_METATDENOVO:METATDENOVO:BOWTIE2_ALIGN' {
        cpus = 8
        memory = 60.GB
    }
    withName: 'NFCORE_METATDENOVO:METATDENOVO:CDHIT_CDHIT' {
        cpus = 8
        memory = 60.GB
    }
    withName: 'NFCORE_METATDENOVO:METATDENOVO:CUSTOM_DUMPSOFTWAREVERSIONS' {
        cpus = 2
        memory = 4.GB
    }
    withName: 'NFCORE_METATDENOVO:METATDENOVO:EGGNOG_MAPPER' {
        cpus = maxcpu
        memory = maxmem
    }
    withName: 'NFCORE_METATDENOVO:METATDENOVO:HMMER_HMMSCAN' {
        cpus = 8
        memory = 28.GB
    }
    withName: 'NFCORE_METATDENOVO:METATDENOVO:INPUT_CHECK:SAMPLESHEET_CHECK' {
        cpus = 2
        memory = 2.GB
    }
    withName: 'NFCORE_METATDENOVO:METATDENOVO:KRKN_ARCH' {
        cpus = 8
        memory = 48.GB
    }
    withName: 'NFCORE_METATDENOVO:METATDENOVO:KRKN_NO_ARCH' {
        cpus = 8
        memory = 60.GB
    }
    withName: 'NFCORE_METATDENOVO:METATDENOVO:MULTIQC' {
        cpus = 2
        memory = 5.GB
    }
    withName: 'NFCORE_METATDENOVO:METATDENOVO:POST_TRIM_FQC' {
        cpus = 4
        memory = 8.GB
    }
    withName: 'NFCORE_METATDENOVO:METATDENOVO:PRE_TRIM_FQC' {
        cpus = 4
        memory = 10.GB
    }
    withName: 'NFCORE_METATDENOVO:METATDENOVO:SALMON_INDEX' {
        cpus = 8
        memory = 60.GB
    }
    withName: 'NFCORE_METATDENOVO:METATDENOVO:SALMON_QUANT' {
        cpus = maxcpu
        memory = maxmem
    }
    withName: 'NFCORE_METATDENOVO:METATDENOVO:SORTMERNA' {
        cpus = maxcpu
        memory = maxmem
    }
    withName: 'NFCORE_METATDENOVO:METATDENOVO:TRANSDECODER_LONGORF' {
        cpus = 8
        memory = 24.GB
    }
    withName: 'NFCORE_METATDENOVO:METATDENOVO:TRANSDECODER_PREDICT' {
        cpus = 8
        memory = 24.GB
    }
    withName: 'NFCORE_METATDENOVO:METATDENOVO:TRIMGALORE' {
        cpus = maxcpu
        memory = 60.GB
    }
    withName: 'NFCORE_METATDENOVO:METATDENOVO:TRIMMOMATIC' {
        cpus = maxcpu
        memory = maxmem
    }
    withName: 'NFCORE_METATDENOVO:METATDENOVO:TRINITY' {
        cpus = maxcpu
        memory = maxmem
        time = 7.d
    }
    withLabel:error_ignore {
        errorStrategy = 'ignore'
    }
    withLabel:error_retry {
        errorStrategy = 'retry'
        maxRetries    = 2
    }
    withName:CUSTOM_DUMPSOFTWAREVERSIONS {
        cache = false
    }
}
