/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nf-core/metatdenovo Nextflow base config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    A 'blank slate' config file, appropriate for general use on most high performance
    compute environments. Assumes that all software is installed and available on
    the PATH. Runs in `local` mode - all jobs will be run on the logged in environment.
----------------------------------------------------------------------------------------
*/

process {

    cpus   = { check_max( 1    * task.attempt, 'cpus'   ) }
    memory = { check_max( 6.GB * task.attempt, 'memory' ) }
    time   = { check_max( 4.h  * task.attempt, 'time'   ) }

    errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish' }
    maxRetries    = 3
    maxErrors     = '-1'

    // Process-specific resource requirements
    // calibrated using nf-tower optimizations
    withName: 'NFCORE_METATDENOVO:METATDENOVO:BBMAP_DEDUPE' {
        cpus = 3
        memory = 1.GB
    }
    withName: 'NFCORE_METATDENOVO:METATDENOVO:BBMAP_REFORMAT' {
        cpus = 2
        memory = 1.GB
    }
    withName: 'NFCORE_METATDENOVO:METATDENOVO:BBMAP_REPAIR' {
        cpus = 3
        memory = 1.GB
    }
    withName: 'NFCORE_METATDENOVO:METATDENOVO:BOWTIE2_ALIGN' {
        cpus = 4
        memory = 4.GB
    }
    withName: 'NFCORE_METATDENOVO:METATDENOVO:CDHIT_CDHIT' {
        cpus = 1
        memory = 1.GB
    }
    withName: 'NFCORE_METATDENOVO:METATDENOVO:CUSTOM_DUMPSOFTWAREVERSIONS' {
        cpus = 1
        memory = 1.GB
    }
    withName: 'NFCORE_METATDENOVO:METATDENOVO:EGGNOG_MAPPER' {
        cpus = 15
        memory = 66.GB
    }
    withName: 'NFCORE_METATDENOVO:METATDENOVO:HMMER_HMMSCAN' {
        cpus = 1
        memory = 1.GB
    }
    withName: 'NFCORE_METATDENOVO:METATDENOVO:INPUT_CHECK:SAMPLESHEET_CHECK' {
        cpus = 1
        memory = 1.GB
    }
    withName: 'NFCORE_METATDENOVO:METATDENOVO:KRKN_ARCH' {
        cpus = 1
        memory = 2.GB
    }
    withName: 'NFCORE_METATDENOVO:METATDENOVO:KRKN_NO_ARCH' {
        cpus = 1
        memory = 65.GB
    }
    withName: 'NFCORE_METATDENOVO:METATDENOVO:MULTIQC' {
        cpus = 2
        memory = 1.GB
    }
    withName: 'NFCORE_METATDENOVO:METATDENOVO:POST_TRIM_FQC' {
        cpus = 3
        memory = 1.GB
    }
    withName: 'NFCORE_METATDENOVO:METATDENOVO:PRE_TRIM_FQC' {
        cpus = 3
        memory = 1.GB
    }
    withName: 'NFCORE_METATDENOVO:METATDENOVO:SALMON_INDEX' {
        cpus = 1
        memory = 1.GB
    }
    withName: 'NFCORE_METATDENOVO:METATDENOVO:SALMON_QUANT' {
        cpus = 1
        memory = 1.GB
    }
    withName: 'NFCORE_METATDENOVO:METATDENOVO:SORTMERNA' {
        cpus = 16
        memory = 256.GB
    }
    withName: 'NFCORE_METATDENOVO:METATDENOVO:TRANSDECODER_LONGORF' {
        cpus = 1
        memory = 1.GB
    }
    withName: 'NFCORE_METATDENOVO:METATDENOVO:TRANSDECODER_PREDICT' {
        cpus = 1
        memory = 1.GB
    }
    withName: 'NFCORE_METATDENOVO:METATDENOVO:TRIMGALORE' {
        cpus = 3
        memory = 1.GB
    }
    withName: 'NFCORE_METATDENOVO:METATDENOVO:TRINITY' {
        cpus = 2
        memory = 3.GB
    }
    withLabel:error_ignore {
        errorStrategy = 'ignore'
    }
    withLabel:error_retry {
        errorStrategy = 'retry'
        maxRetries    = 2
    }
    withName:CUSTOM_DUMPSOFTWAREVERSIONS {
        cache = false
    }
}
