/*
========================================================================================
    Nextflow config file for running minimal tests
========================================================================================
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run hmmscan.nf -profile test_hmmscan,docker

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile for hmmscan. Requires database profile.'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = 10.GB
    max_time   = 1.h

    // Input data, teeny fastqs/fastas from Trinity test GitHub
    peptide         = "$projectDir/localdata/transdecoded.pep"
    hmmerdir        = "$projectDir/localdata/hmmer_pfam"
    hmmer_file_name = "Pfam-A.hmm"
}
