/*
========================================================================================
    Nextflow config file for running minimal tests
========================================================================================
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run salmon.nf -profile test_salmon,docker

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile for Salmon module. Index + quant.'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = 10.GB
    max_time   = 1.h

    // Input data, teeny fastqs/fastas from Trinity test GitHub
    pairedreads   = "$projectDir/localdata/reads/sub_SRR18336222_{1,2}.fastq"
    transcriptome = "$projectDir/localdata/trinity_out.fa" 
}
