/*
========================================================================================
    Nextflow config file for running minimal tests
========================================================================================
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run sortmerna.nf -profile test_sortmerna,docker

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile for SortMeRNA module.'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 10
    max_memory = 10.GB
    max_time   = 1.h

    // Input data
    pairedreads = "$projectDir/localdata/reads/*{1,2}.f*q.gz" // point to fastqs
    // these don't exist in the repo because they are large
    reference   = "$projectDir/localdata/SILVA_138.1_SSURef_NR99_tax_silva.fasta"
    index       = "$projectDir/localdata/idx/"

}
