/*
========================================================================================
    Nextflow config file for running minimal tests
========================================================================================
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run bowtie_align.nf -profile test_bowtie,docker

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile for bowtie2 align module.'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = 6.GB
    max_time   = 6.h

    // Input data
    indexdir = "$projectDir/bos_taurus/bowtie2_index/" // point to the dir containing .bt2 and .rev.bt2
    pairedreads = "$projectDir/localdata/sub*{R1,R2}.fastq" // point to fastqs
}
