/*
========================================================================================
    Nextflow config file for running minimal tests
========================================================================================
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/metatdenovo -profile test_transdecoder,docker

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile for transdecoder orf caller'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = 6.GB
    max_time   = 6.h

    // fasta input from cd_hit_est
    fasta = "$projectDir/localdata/cd_hit_t-est.fasta"

}
